body { 
  background-color: deeppink;
  text-align: center;
}

h1 { 
    color: gold;
    font-style: italic;
}

h2 { 
    color: gold;
    font-style: italic;
}
.Rapunzel{width: 30%;}
