body  {
background-color: hotpink;
}
h1{
    color:aliceblue;
    font-style: italic;
    
}
    h2{
        color:aliceblue;
        font-style: italic;
        
    
    }
    .auroraprincipal{width:30%}

    
    